<!DOCTYPE html>
<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>人脸检测--XAI</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="baidu-site-verification" content="GOPjfm49Yc">
    <!--[if IE 9]>
    <link rel="stylesheet" href="//aip.bdstatic.com/portal/dist/1515141530954/css/ie9.style.css">
    <![endif]-->
    <link rel="stylesheet" href="/css/baiduai/vendor.style.css">
    <link rel="stylesheet" href="/css/baiduai/face-detect.style.css">
<!--     <script src="/js/plugins/baiduai/push.js"></script>
    <script src="/js/plugins/baiduai/hm.js"></script> -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script>
        function faceUp(){
        	var fileInfo = $("#fileImage").val();
        	if(fileInfo==''){
        		alert("必须选择图片哦");
        		return;
        	}
        	if(fileInfo.indexOf('.PNG')==-1&&fileInfo.indexOf('.png')==-1&&fileInfo.indexOf('.jpg')==-1&&fileInfo.indexOf('.JPG')==-1&&fileInfo.indexOf('.JPEG')==-1&&fileInfo.indexOf('.jpeg')==-1&&fileInfo.indexOf('.bmp')==-1&&fileInfo.indexOf('.BMP')==-1){
        		alert("可支持PNG、JPG、jpeg、BMP图片文件格式");
        		return;
        	}
			var option = {
                url: "/bd/faceBD/Facedb" ,//url
			 	type: "POST",//方法类型
			 	dataType: "json",//预期服务器返回的数据类型
				success : function(result) {
						if(result.code!=1){
							var griddata;
							griddata = "<table class='data-view-table'><tr><th>性别</th><td>"+result.gender+"</td></tr><tr><th>颜值</th><td>"+result.beauty+"</td></tr><tr><th>年龄</th><td>"+result.age+"</td></tr><tr><th>表情</th><td>"+result.expression+"</td></tr><tr><th>眼镜</th><td>"+result.glasses+"</td></tr></table>";							
							$("#resultFace").html(griddata);
						}else{
							var griddata;
							griddata ="<h1 class='h1msg'>"+result.msg+"</h1>";							
							$("#resultFace").html(griddata);
						}
					}
				};
				$("#formface").ajaxSubmit(option);
			}
</script>
</head>
<body class="ai-platform">
<form id="formface" enctype="multipart/form-data">
<div class="ai-content">
    <div class="tech-section tech-demo" id="tech-demo">
        <div class="ai-container">
            <div class="tech-demo-title">人脸检测</div>
            <div class="demo-container clear-float">
                <div class="clear-float">
                    <div class="data-view-container">
                        <div class="data-view" data-label="识别图片" id="demo-result">
                            <div class="canvas-container has-result"><canvas width="592" height="400" data-scale="0.9932432432432432" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) scale(0.993243);">您的浏览器暂时不支持canvas，请选用现代浏览器！</canvas></div>
                            <div id="result-gallery" style="display: none;">
                                <ul class="gallery-container"><li class="active"><img src=""></li></ul>
                            </div>
                        </div>
                        <div class="demo-data">
                            <label id="demo-photo-upload" class="">
                                <input type="file" name="file" id="fileImage" onchange="faceUp()">选取图片
                            </label>
<!--                             <label id="photo-upload" class="" style="margin-left:20px;">
                                <a href="javascript:void(0)" onclick="faceUp()"  style="text-decoration: none;color: white;">点击上传</a>
                            </label> -->
                        </div>
                        <p class="demo-desc">
                            提示：可支持PNG、JPG、jpeg、BMP图片文件，不支持GIF图片，图片大小不超过2M，长边不超过2048像素，为保证正常识别效果，请保证需要识别部分为图片主体部分。</p>
                    </div>
                    <div class="data-view-container">
                        <div class="data-view" data-label="识别结果" style="height:400px;">
                           <div id="resultFace">
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--30478167010202517514011210-->
<script src="/js/plugins/baiduai/vendor.js"></script>
<script src="/js/plugins/baiduai/face-detect.js"></script>
<script> var _trace_page_logid = 3047816701; </script>
</form>
</body>
</html>