<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xai.baiduai.manager.dao.FaceBDDao">

	<select id="get" resultType="com.xai.baiduai.manager.domain.FaceBdDO">
		select
		`faceId`,`logId`,`resultNum`,`age`,`beauty`,`left`,`top`,`width`,`height`,`faceProbability`,`rotationAngle`,`yaw`,`pitch`,`roll`,`expression`,`expressionProbability`,`type`,`probability`,`gender`,`genderProbability`,`glasses`,`glassesProbability`,`race`,`raceProbability`,`leftEye`,`rightEye`,`nose`,`mouth`,`leftCheek`,`rightCheek`,`chin`,`blur`,`illumination`,`completeness`,`human`,`cartoon`,`imageBase64`
		from ai_face_bd where faceId = #{value}
	</select>

	<select id="list" resultType="com.xai.baiduai.manager.domain.FaceBdDO">
		select
		`faceId`,`logId`,`resultNum`,`age`,`beauty`,`left`,`top`,`width`,`height`,`faceProbability`,`rotationAngle`,`yaw`,`pitch`,`roll`,`expression`,`expressionProbability`,`type`,`probability`,`gender`,`genderProbability`,`glasses`,`glassesProbability`,`race`,`raceProbability`,`leftEye`,`rightEye`,`nose`,`mouth`,`leftCheek`,`rightCheek`,`chin`,`blur`,`illumination`,`completeness`,`human`,`cartoon`,`imageBase64`
		from ai_face_bd
		<!--<where>-->
			<!--<if test="roleId != null and roleId != ''"> and role_id = #{roleId} </if>-->
			<!--<if test="roleName != null and roleName != ''"> and role_name = #{roleName} </if>-->
			<!--<if test="roleSign != null and roleSign != ''"> and role_sign = #{roleSign} </if>-->
			<!--<if test="remark != null and remark != ''"> and remark = #{remark} </if>-->
			<!--<if test="userIdCreate != null and userIdCreate != ''"> and user_id_create = #{userIdCreate} </if>-->
			<!--<if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>-->
			<!--<if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>-->
		<!--</where>-->
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by faceId desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from ai_face_bd
		<!--<where>-->
			<!--<if test="roleId != null and roleId != ''"> and role_id = #{roleId} </if>-->
			<!--<if test="roleName != null and roleName != ''"> and role_name = #{roleName} </if>-->
			<!--<if test="roleSign != null and roleSign != ''"> and role_sign = #{roleSign} </if>-->
			<!--<if test="remark != null and remark != ''"> and remark = #{remark} </if>-->
			<!--<if test="userIdCreate != null and userIdCreate != ''"> and user_id_create = #{userIdCreate} </if>-->
			<!--<if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>-->
			<!--<if test="gmtModified != null and gmtModified != ''"> and gmt_modified = #{gmtModified} </if>-->
		<!--</where>-->
	</select>
	<insert id="save" parameterType="com.xai.baiduai.manager.domain.FaceBdDO"
			useGeneratedKeys="true" keyProperty="faceId">
		insert into ai_face_bd
		(
		`logId`,`resultNum`,`age`,`beauty`,`left`,`top`,`width`,`height`,`faceProbability`,`rotationAngle`,`yaw`,`pitch`,`roll`,`expression`,`expressionProbability`,`type`,`probability`,`gender`,`genderProbability`,`glasses`,`glassesProbability`,`race`,`raceProbability`,`leftEye`,`rightEye`,`nose`,`mouth`,`leftCheek`,`rightCheek`,`chin`,`blur`,`illumination`,`completeness`,`human`,`cartoon`,`imageBase64`
		)
		values
		(
		#{logId},
		#{resultNum},
		#{age},
		#{beauty},
		#{left},
		#{top},
		#{width},
		#{height},
		#{faceProbability},
		#{rotationAngle},
		#{yaw},
		#{pitch},
		#{roll},
		#{expression},
		#{expressionProbability},
		#{type},
		#{probability},
		#{gender},
		#{genderProbability},
		#{glasses},
		#{glassesProbability},
		#{race},
		#{raceProbability},
		#{leftEye},
		#{rightEye},
		#{nose},
		#{mouth},
		#{leftCheek},
		#{rightCheek},
		#{chin},
		#{blur},
		#{illumination},
		#{completeness},
		#{human},
		#{cartoon},
		#{imageBase64}
		)
	</insert>
	<delete id="remove">
		delete from ai_face_bd where faceId = #{value}
	</delete>
	<delete id="batchRemove">
		delete from ai_face_bd where faceId in
		<foreach item="faceId" collection="array" open="(" separator=","
				 close=")">
			#{faceId}
		</foreach>
	</delete>
</mapper>